/* Corpo */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*justify-content: space-between;*/
    background: #1c2841;
    color: white;
}

/* Estilos para o menu de navegação */
nav {
    background-color: #2c3e50;
    padding: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px; /* ESPAÇAMENTO ENTRE OS BOTÕES */
}

.nav-item {
    position: relative;
}

/* Estilos para os botões de navegação */
.nav-btn {
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    display: block;
    font-weight: 500;
    transition: all 0.3s ease;
    background-color: #4a6491;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    min-width: 140px;
    text-align: center;
    font-family: inherit;
}

.nav-btn:hover {
    background-color: #5a74a1;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.nav-btn.active {
    background-color: #3498db;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

/* Remove o contorno padrão do botão no foco */
.nav-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
}

/* Estilos para o header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a6491;
    padding: 5px 10px;
    border-bottom: 1px solid #4a6491;
    width: 100%;
}

.header-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

/* Estilos para o footer */
footer {
    background-color: #4a6491;
    padding: 0px 10px;
    border-top: 1px solid #4a6491;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-lbl {
    font-weight: bold;
}

/* Estilos para o conteúdo principal */
main {
    padding: 20px;
    margin-bottom: 60px;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        gap: 10px; /* Espaçamento menor em dispositivos móveis */
    }
    
    .nav-btn {
        min-width: 120px;
        padding: 10px 20px;
    }
    
    header {
        padding: 10px 5px;
    }
    
    .header-title {
        font-size: 1.4rem;
    }
}
